* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aliceblue;
  font-size: 18px;
  margin: 0 auto;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 233, 233);
}

.logo {
  margin-left: 100px;
  width: 50%;
}

.banner {
  background-image: url(./img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
}


.content-banner {
  width: 50%;
  color: #4CAC33;
  padding-top: 40px;
}

.content-banner p {
  color: black;
  font-weight: bold;
}

.title-banner {
  margin: 0;
  font-weight: 700;
  font-size: 65px;
}

.cards {
  margin-top: 30px;
}

.card-img {
  width: 20%;
  min-width: 100px;
}

.box {
  width: 360px;
  height: 400px;
  background-color: rgb(21, 159, 90);
  /* backdrop-filter: blur(10px); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0 20px;
}

.box .title {
  text-align: center;
  margin: 20px;
}

.options-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.options-box>div {
  width: 140px;
  border: 5px solid #4CAC33;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.optionSelect {
  background-color: #4cc72e;
}

.icon-option {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: white;

}


.subtitle-option {
  text-align: center;
  font-weight: bold;
  color: white;
}

.more-detail {
  text-align: center;
  cursor: pointer;
  color: white;
  transition: .3s;
}

.more-detail:hover {
  text-decoration: underline;
}

.btn-box {
  margin-top: 20px;
  background-color: #4CAC33;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  transition: .3s;

}
.btn-box a {
  color: white;
}
.btn-box:hover {
  background-color: #60ff38;
}
.info {
  background-color: white;
  padding: 2% 15%;
  text-align: center;
}

@media (max-width:930px) {
  .banner {
    height: 800px;
  }

  .content-banner {
    width: 100%;
    text-align: center;

  }

  .content-banner p {
    color: wheat;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;

  }

  .box {
    width: 90vw;
    height: 380px;
  }

  .options-box {
    flex-direction: row;
  }

  .info {
    padding: 20px 10%;
  }
}

@media (max-width:500px) {
  .banner {
    height: 1200px;
  }

  .banner p {
    color: wheat;
    font-weight: bold;
  }

  .box {
    height: 650px;
  }

  .options-box{
    padding: 20px;
  }

  .info {
    padding: 20px 5%;
  }
}

@media (max-width:300px) {
  .logo {
    margin-left: 70px;
  }

  .title-banner {
    font-size: 45px;
  }

  .banner {
    height: 1400px;
  }

  .box {
    height: 650px;
  }

  .info {
    height: 350px;
  }

}